params {
    // set workflow
    pipeline = 'Not_Specified'
    workflow = params.pipeline

    // define reference_cache directory
    reference_cache='/projects/omics_share'

    // select config from config folder to use based on workflow
    config = "config/${params.workflow}.config"

    // set publish directory for data to save (easier to follow)
    pubdir = "/flashscratch/${USER}"

    profile = 'sumner2'

    keep_intermediate = false // true
    fastq2 = true // default is PE for workflows
    tmpdir = "/flashscratch/${USER}"  // generic param
    merge_replicates = false
    // get help
    help = null

    // make a comment for log
    comment = ''
}

try {
    includeConfig params.config
} catch (Exception e) {
    System.err.println("ERROR: Could not load ${params.config} check that you are using a valid workflow name")
    System.exit(1)
}


// work directory is important as it will be large, plan accordingly
workDir = "/flashscratch/${USER}/${params.workflow}"
outputDir = params.pubdir ? params.pubdir : outputDir

manifest = [
    name: "The Jackson Laboratory Data Science Nextflow based analysis pipelines",
    homePage: "https://github.com/TheJacksonLaboratory/jds-nf-workflows",
    description: "Details of available workflows, parameters, etc., are available in the repostiory Wiki: https://github.com/TheJacksonLaboratory/jds-nf-workflows/wiki",
    mainScript: "main.nf",
    nextflowVersion: "!>=24.04.0",
    version: "0.9.2",
    contributors: [
        [ name: 'Michael Lloyd', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'], orcid: ['0000-0003-1021-8129'] ],
        [ name: 'Brian Sanderson', contribution: ['contributor'], affiliation: ['University of Kansas'] ],
        [ name: 'Barry Guglielmo', contribution: ['contributor'] ],
        [ name: 'Sai Lek', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Peter Fields', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Harshpreet Chandok', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Carolyn Paisie', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Gabriel Rech', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Ardian Ferraj', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Tejas Temker', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Dan Gatti', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Sam Widmayer', contribution: ['contributor'], affiliation: ['The Jackson Laboratory'] ],
        [ name: 'Anuj Srivastava', contribution: ['contributor'] ]
    ]
]


profiles {
    sumner       { includeConfig "config/profiles/sumner.config" }
    sumner2      { includeConfig "config/profiles/sumner2.config" }
    elion        { includeConfig "config/profiles/elion.config" }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled = true
    file = "${params.pubdir}/${params.workflow}_report_${trace_timestamp}.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.pubdir}/trace/trace_${trace_timestamp}.txt"
    overwrite = true
    fields = \
         "task_id,"   \
       + "hash,"      \
       + "process,"   \
       + "tag,"       \
       + "status,"    \
       + "exit,"      \
       + "start,"     \
       + "container," \
       + "cpus,"      \
       + "time,"      \
       + "disk,"      \
       + "memory,"    \
       + "duration,"  \
       + "realtime,"  \
       + "queue,"     \
       + "%cpu,"      \
       + "%mem,"      \
       + "rss,"       \
       + "peak_rss,"  \
       + "vmem,"      \
       + "peak_vmem," \
       + "rchar,"     \
       + "wchar"
}
 
dag {
    enabled = true
    file = "${params.pubdir}/trace/${params.workflow}_dagPlot_${trace_timestamp}.html"
    overwrite = true
}
