/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

dag {
    enabled = true
    file = "dag.mmd"
    overwrite = true
}