//====================  Nextflow/Container Config  ==========

manifest {
    name = "generate_wes_simreads"
    description = 'Pipeline for Generating WES Simulated Reads'
}

params {
  gen_org = gen_org ?: 'mouse'
  genome_build = genome_build ?: 'GRCm38'
  annotation_source = annotation_source ?: 'ensembl'
  fasta = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa'
  sampleID = 'Mus_musculus.GRCm38_simVar_60x_allChr'
  target_bed = '/projects/omics_share/mouse/GRCm38/supporting_files/benchmarking_data/WES/target_beds/mm10Exome_v4_12-19.1.mm10.baits_merged.bed'  
  extension = '_001.fastq.gz'
  pass = ''
}

if (params.gen_org=='human' || params.genome_build=='GRCh38') {
  params.gen_org = 'human'
  params.genome_build = 'GRCh38'
  params.fasta = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  params.sampleID = 'Homo_sapiens.GRCh38_simVar_60x_allChr'
  params.target_bed = '/projects/omics_share/human/GRCh38/supporting_files/benchmarking_data/WES/target_beds/hg38_liftover_agilent_SureSelect_V4_pChrM_PrimaryOnly_probes.bed'  
  params.target_sort_bed = '/projects/omics_share/human/GRCh38/supporting_files/benchmarking_data/WES/target_beds/hg38_liftover_agilent_SureSelect_V4_pChrM_PrimaryOnly_probes_sorted.bed'  
  params.extension = '_001.fastq.gz'
  params.pass = ''
}


