//====================  Nextflow/Container Config  ==========

manifest {
    name = "generate_rnaseq_simreads"
    description = 'Pipeline for Generating RNASeq Simulated Reads'
}

params {
  gen_org = params.gen_org ?: 'mouse'
  genome_build = params.genome_build ?: 'GRCm38'
  fa_cds = null

  library_size = '1000000, 5000000'
  library_strategy = 'PE'
  read_length = 100
  fragment_length_min = 125
  fragment_length_max = 500
  fragment_length_mean = 250
  fragment_length_sd = 40
  simulate_sequencing_error = false
  quality_reference = false

  reference_profiles = [
    mouse_grcm38: [
      genome_build: 'GRCm38',
      fa_cds: 'http://ftp.ensembl.org/pub/release-102/fasta/mus_musculus/cds/Mus_musculus.GRCm38.cds.all.fa.gz'
    ],
    human_grch38: [
      genome_build: 'GRCh38',
      fa_cds: 'http://ftp.ensembl.org/pub/release-104/fasta/homo_sapiens/cds/Homo_sapiens.GRCh38.cds.all.fa.gz'
    ],
    other_user: [
      genome_build: '',
      fa_cds: false
    ]
  ]

  selected_profile = params.gen_org == 'other' ? 'other_user' :
    ((params.gen_org == 'human' || params.genome_build == 'GRCh38') ? 'human_grch38' : 'mouse_grcm38')
  selected_defaults = params.reference_profiles[params.selected_profile]

  genome_build = params.selected_defaults.genome_build
  fa_cds = params.selected_defaults.fa_cds
}
