//====================  Nextflow/Container Config  ==========

manifest {
    name = "generate_wgs_simreads"
    description = 'Pipeline for Generating WGS Simulated Reads'
}

params {
  gen_org = gen_org ?: 'mouse'
  genome_build = genome_build ?: 'GRCm38'
  fasta = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa'
  chrom_list = '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 X Y MT'
  sampleID = 'Mus_musculus.GRCm38_simVar_10x_allChr'
  extension = '.fastq.gz'
  read_type = 'PE'
  coverage = 10
  read_length = 150
  insert_size = 350
  insert_size_sd = 30
  error_rate = 0.001
}

if (params.gen_org=='human' || params.genome_build=='GRCh38') {
  params.gen_org = 'human'
  params.genome_build = 'GRCh38'
  params.fasta = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  chrom_list = 'chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrM chrX chrY'
  params.sampleID = 'Homo_sapiens.GRCh38_simVar_10x_allChr'
}

if (params.gen_org!='human' && params.gen_org!='mouse') {
  params.gen_org = null
  params.genome_build = null
  params.fasta = null
  params.sampleID = null
}
