//====================  Nextflow/Container Config  ==========

manifest {
    name = "generate_rnaseq_index"
    description = 'Pipeline for Generating RNASeq Index Files'
}

params {
  gen_org = gen_org ?: 'mouse'
  genome_build = genome_build ?: 'GRCm38'
  annotation_source = annotation_source ?: 'ensembl'
  ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  ref_gtf = params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.gtf'
  ref_gff = null
  custom_gene_fasta = null
}

if (params.gen_org=='human' || params.genome_build=='GRCh38') {
  params.gen_org = 'human'
  params.genome_build = 'GRCh38'
  params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
  params.ref_gtf = params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.gtf'
  params.ref_gff = null
  params.custom_gene_fasta = null
}

if (params.genome_build=='GRCm39'){
  params.genome_build = 'GRCm39'
  params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  params.ref_gtf = params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/ensembl/v105/Mus_musculus.GRCm39.105.gtf'
  params.ref_gff = null
}


if (params.annotation_source=='MGI'){
  params.genome_build = 'GRCm39'
  params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v114/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  //params.ref_gtf = params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/mgi/v114/MGI.gtf'
  params.ref_gtf = null
  params.ref_gff3 = null
  params.ref_table = params.reference_cache+'/mouse/GRCm39/supporting_files/rnaseq/Mus_musculus.GRCm39.114.gene_id.name_biotype_mgi.txt'
}


if (params.gen_org=='other'){
  params.genome_build = 'user_to_provide'
  params.annotation_source = null
  params.ref_fa = null
  params.ref_gtf = null
  params.ref_gff = null
}
