//====================  Nextflow/Container Config  ==========

manifest {
    name = "generate_wes_simreads"
    description = 'Pipeline for Generating WES Simulated Reads'
}

params {
  gen_org = params.gen_org ?: 'mouse'
  genome_build = params.genome_build ?: 'GRCm38'
  fasta = null
  chrom_list = null
  sampleID = null
  target_bed = null // zero-based.
  extension = '.fastq.gz'
  read_type = 'PE'
  coverage = 60
  read_length = 150
  insert_size = 350
  insert_size_sd = 30
  error_rate = 0.001
  off_target_coverage = 0.02
  mutation_rate = null

  reference_profiles = [
    mouse_grcm38: [
      gen_org: 'mouse',
      genome_build: 'GRCm38',
      fasta: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa',
      chrom_list: '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 X Y MT',
      sampleID: 'Mus_musculus.GRCm38_simVar_60x_allChr',
      target_bed: params.reference_cache+'/mouse/GRCm38/supporting_files/benchmarking_data/WES/target_beds/mm10Exome_v4_12-19.1.mm10.baits_merged.bed'
    ],
    human_grch38: [
      gen_org: 'human',
      genome_build: 'GRCh38',
      fasta: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta',
      chrom_list: 'chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrM chrX chrY',
      sampleID: 'Homo_sapiens.GRCh38_simVar_60x_allChr',
      target_bed: params.reference_cache+'/human/GRCh38/supporting_files/benchmarking_data/WES/target_beds/hg38_liftover_agilent_SureSelect_V4_pChrM_PrimaryOnly_probes_sorted.bed'
    ]
  ]

  selected_profile = (params.gen_org == 'human' || params.genome_build == 'GRCh38') ? 'human_grch38' : 'mouse_grcm38'
  selected_defaults = params.reference_profiles[params.selected_profile]

  gen_org = params.selected_defaults.gen_org
  genome_build = params.selected_defaults.genome_build
  fasta = params.selected_defaults.fasta
  chrom_list = params.selected_defaults.chrom_list
  sampleID = params.selected_defaults.sampleID
  target_bed = params.selected_defaults.target_bed
}