//====================  Nextflow/Container Config  ==========

manifest {
    name = "generate_wgs_simreads"
    description = 'Pipeline for Generating WGS Simulated Reads'
}

params {
  gen_org = gen_org ?: 'mouse'
  genome_build = genome_build ?: 'GRCm38'
  annotation_source = annotation_source ?: 'ensembl'
  fasta = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa'
  sampleID = 'Mus_musculus.GRCm38_simVar_10x_allChr'
  extension = '_001.fastq.gz'
}

if (params.gen_org=='human' || params.genome_build=='GRCh38') {
  params.gen_org = 'human'
  params.genome_build = 'GRCh38'
  params.fasta = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  params.sampleID = 'Homo_sapiens.GRCh38_simVar_10x_allChr'
  params.extension = '_001.fastq.gz'
}


