manifest {
    name = "germline_sv"
    description = 'Pipeline for calling germline structural variants, used in the MMRDB project.'
}

params {
    gen_org = params.gen_org ?: 'mouse'
    data_type = null // restricted options. see wiki.
    csv_input = null
    download_data = null
    genome_build = params.genome_build ?: 'GRCm38'
    sampleID = 'SampleID_Placeholder'

    ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'

    // ILLUMINA Specific
    fastq1 = null
    fastq2 = null
    bam = null
    // FASTP parameters
    quality_phred = 15
    unqualified_perc = 40
    detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
    // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
    //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.
    trim_poly_g = false
    trim_poly_x = false
    poly_x_min_len = 10
    
    ref_fa_indices = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa'
    mismatch_penalty = '8'
    chrom_contigs = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.primaryChr.contig_list'

    smoove_support = 3
    exclude_regions = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_gap_chr_sorted.bed'

    // Delly options
    delly_exclusion = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/mouse.mm10.excl.tsv' // https://raw.githubusercontent.com/dellytools/delly/main/excludeTemplates/mouse.mm10.excl.tsv
    delly_mappability = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/mappability/GRCm38.dna.primary_assembly.map.gz' // https://gear-genomics.embl.de/data/delly/
    cnv_window = 10000
    cnv_min_size = 10000
    cnv_germline_prob = 0.00100000005 // default, param included for testing purpose. 
    
    // Manta & SMOOVE
    callRegions = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/GRCm38.callregions.bed.gz' // manta requirement. 

    // VEP annotations
    vep_cache_directory = params.reference_cache+'/mouse/GRCm38/genome/annotation/vep_data' // VEP annotation cache. Note this directory contains additional annotation cache files.
    vep_fasta = params.reference_cache+'/mouse/GRCm38/genome/annotation/vep_data/mus_musculus/102_GRCm38/Mus_musculus.GRCm38.dna.toplevel.fa.gz'
    
    // PACBIO Specific
    minimap2_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/minimap2/Mus_musculus.GRCm38.dna.primary_assembly.mmi'
    pbmode = null
    pbsv_tandem = true
    tandem_repeats = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_trf_chr_sorted.bed'
    
    // ONT Specific
    quality = 9
    length = 400
    headcrop = 10
    tailcrop = 20
    targ_chr = false
    targ_start = false
    targ_end = false
    nanosv_bed = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/GRCm38_random_1000000.bed'

    // Annotation Files
    sv_ins_ref = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed.gz'
    sv_del_ref = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed.gz'
    sv_inv_ref = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed.gz'
    reg_ref = params.reference_cache+'/mouse/GRCm38/genome/annotation/regulatory_regions/mus_musculus.GRCm38.Regulatory_Build.regulatory_features.20180516.gff.gz'
    genes_bed = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/Mus_musculus.GRCm38.102.gene_symbol.bed.gz'
    exons_bed = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/Mus_musculus.GRCm38.102.exons.bed.gz'

    // SURVIVOR parameters
    surv_dist = 1000
    surv_supp = 1
    surv_type = 1
    surv_strand = 1
    surv_min = 30

    read_type = 'PE' // required by workflow using with csv input 
    bwa_min_score = null // note required by workfow, included to avoid nextflow param warning.
    keep_intermediate = false

    genome_build_overrides = [
        GRCm39: [
            ref_fa: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa',
            ref_fa_indices: params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.primary_assembly.fa',
            chrom_contigs: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.primaryChr.contig_list',
            delly_exclusion: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39_gap_delly_exclusion.txt',
            delly_mappability: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mappability/GRCm39.p0.map.gz',
            cnv_window: 10000,
            cnv_min_size: 10000,
            cnv_germline_prob: 0.00100000005,
            exclude_regions: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges_cleaned.bed',
            callRegions: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39.callregions.bed.gz',
            vep_cache_directory: params.reference_cache+'/mouse/GRCm39/genome/annotation/vep_data',
            vep_fasta: params.reference_cache+'/mouse/GRCm39/genome/annotation/vep_data/mus_musculus/110_GRCm39/Mus_musculus.GRCm39.dna.toplevel.fa.gz',
            minimap2_index: params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/minimap2/Mus_musculus.GRCm39.dna.primary_assembly.mmi',
            tandem_repeats: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/ucsc_mm39_trf_chr_sorted.bed',
            nanosv_bed: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39_random_1000000.bed',
            sv_ins_ref: params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INS_mm39_sorted.bed',
            sv_del_ref: params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_DEL_mm39_sorted.bed',
            sv_inv_ref: params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INV_mm39_sorted.bed',
            reg_ref: params.reference_cache+'/mouse/GRCm39/genome/annotation/regulatory_regions/mus_musculus.GRCm39.Regulatory_Build.regulatory_features.20221007.gff.gz',
            genes_bed: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.109.gene_symbol.bed.gz',
            exons_bed: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.109.exons.bed.gz'
        ]
    ]

    selected_overrides = params.genome_build_overrides[params.genome_build] ?: [:]
    ref_fa = params.selected_overrides.ref_fa ?: params.ref_fa
    ref_fa_indices = params.selected_overrides.ref_fa_indices ?: params.ref_fa_indices
    chrom_contigs = params.selected_overrides.chrom_contigs ?: params.chrom_contigs
    delly_exclusion = params.selected_overrides.delly_exclusion ?: params.delly_exclusion
    delly_mappability = params.selected_overrides.delly_mappability ?: params.delly_mappability
    cnv_window = params.selected_overrides.cnv_window ?: params.cnv_window
    cnv_min_size = params.selected_overrides.cnv_min_size ?: params.cnv_min_size
    cnv_germline_prob = params.selected_overrides.cnv_germline_prob ?: params.cnv_germline_prob
    exclude_regions = params.selected_overrides.exclude_regions ?: params.exclude_regions
    callRegions = params.selected_overrides.callRegions ?: params.callRegions
    vep_cache_directory = params.selected_overrides.vep_cache_directory ?: params.vep_cache_directory
    vep_fasta = params.selected_overrides.vep_fasta ?: params.vep_fasta
    minimap2_index = params.selected_overrides.minimap2_index ?: params.minimap2_index
    tandem_repeats = params.selected_overrides.tandem_repeats ?: params.tandem_repeats
    nanosv_bed = params.selected_overrides.nanosv_bed ?: params.nanosv_bed
    sv_ins_ref = params.selected_overrides.sv_ins_ref ?: params.sv_ins_ref
    sv_del_ref = params.selected_overrides.sv_del_ref ?: params.sv_del_ref
    sv_inv_ref = params.selected_overrides.sv_inv_ref ?: params.sv_inv_ref
    reg_ref = params.selected_overrides.reg_ref ?: params.reg_ref
    genes_bed = params.selected_overrides.genes_bed ?: params.genes_bed
    exons_bed = params.selected_overrides.exons_bed ?: params.exons_bed
}
