//====================  Nextflow/Container Config  ==========

manifest {
    name = "haplotype_reconstruction"
    description = 'Pipeline for Haplotype Reconstruction'
}

params {
    // GigaMUGA reference data
    gen_org = 'mouse'
    genome_build = 'GRCm39'
    cc_do_allele_codes = params.reference_cache+'/mouse/GRCm39/supporting_files/muga_annotation/gigamuga/GM_allelecodes.csv'
    gmAnn = params.reference_cache+'/mouse/GRCm39/supporting_files/muga_annotation/gigamuga/gm_uwisc_v4.csv'
    
    // Inputs
    csv_input = null
    n_perms = null

    // Flag to re-run haplotype reconstruction with i.e. a new covar file or final report
    rerun = true

    // Flag to switch sample names in place
    correct_ids = false

    // Flag to remove bad markers identified in QC
    remove_markers = false
}
// PARAMS TO BE ADDED AS NEEDED.