//====================  Nextflow/Container Config  ==========

manifest {
    name = "joint_gvcf_calling"
    description = 'Pipeline for Collecting GVCFs and Joint Genotyping'
}

params {
    gen_org = gen_org ?: 'mouse' // human
    genome_build = genome_build ?: 'GRCm38' // GRCm39
    csv_input = null
    ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
    interval_count = 50
}

if (params.gen_org=='human' || params.genome_build=='GRCh38') {
    params.gen_org = 'human'
    params.genome_build = 'GRCh38'
    params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
}

if (params.genome_build=='GRCm39'){
    params.genome_build = 'GRCm39'
    params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
}

if (params.gen_org=='other'){
    params.genome_build = 'user_to_provide'
    params.ref_fa = null
}

