//====================  Nextflow/Container Config  ==========

manifest {
    name = "joint_gvcf_calling"
    description = 'Pipeline for Collecting GVCFs and Joint Genotyping'
}

params {
    gen_org = params.gen_org ?: 'mouse' // human
    genome_build = params.genome_build ?: 'GRCm38' // GRCm39
    csv_input = null
    ref_fa = null
    interval_count = 50

    reference_profiles = [
        mouse_grcm38: [
            gen_org: 'mouse',
            genome_build: 'GRCm38',
            ref_fa: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
        ],
        mouse_grcm39: [
            gen_org: 'mouse',
            genome_build: 'GRCm39',
            ref_fa: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
        ],
        human_grch38: [
            gen_org: 'human',
            genome_build: 'GRCh38',
            ref_fa: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
        ],
        other_user: [
            gen_org: 'other',
            genome_build: 'user_to_provide',
            ref_fa: null
        ]
    ]

    selected_profile = params.gen_org == 'other' ? 'other_user' :
        ((params.gen_org == 'human' || params.genome_build == 'GRCh38') ? 'human_grch38' :
        (params.genome_build == 'GRCm39' ? 'mouse_grcm39' : 'mouse_grcm38'))

    selected_defaults = params.reference_profiles[params.selected_profile]
    gen_org = params.selected_defaults.gen_org
    genome_build = params.selected_defaults.genome_build
    ref_fa = params.selected_defaults.ref_fa
}

