//====================  Nextflow/Container Config  ==========

manifest {
    name = "lcwgs_hr"
    description = 'Pipeline for Haplotype Reconstruction from GeDI Mouse Low-Coverage Whole Genome Sequencing Data'   
}

// Default to Mouse
params {
  // Shared params
  gen_org = gen_org ?: 'mouse'
  genome_build = genome_build ?: 'GRCm39'
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder = null
  concat_lanes = false
  download_data = false
  csv_input = null
  downsample = false

  // multiqc
  multiqc_config = "${projectDir}/bin/shared/multiqc/lcwgs_multiqc.yaml"

  // Reference fasta
  ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  ref_fa_indices = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  ref_haps_dir = params.reference_cache+'/mouse/GRCm39/supporting_files/lcwgs_hr'

  // FASTP parameters
  quality_phred = 15 // default 
  unqualified_perc = 40 // default
  detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
  // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
  //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.

  // BWA parameter
  mismatch_penalty = "8"
  bwa_min_score = null

  // Workflow specific params
  library_type = 'seqwell' // lcwgs_hr uses only low-pass WGS preps for now; when 'ddradseq' is specified, other modules are recruited for adapter trimming and sample QC.

  // Downsampled coverage csv file
  downsampling_coverage_csv = null // if downsample = true, provide a csv file target coverage values

  // Evenly spaced marker grid for imputed SNP filtration
  gridfile = params.ref_haps_dir+'/interp_1M_physical_grid.csv'

  // Cross type for mice supplied
  covar_file = null
  cross_type = 'do' // default to DO mice, other supported values: het3, bxd, cc, genail4

  // Marker smoothing window size for genotype probabilities
  smooth_window = 200

  // 250K marker grid for interpolated genotype probabilities
  interp_250k_gridfile = params.ref_haps_dir+'/interp_0.25M_physical_grid.csv'
  
}
