//====================  Nextflow/Container Config  ==========

manifest {
    name = "mitochondria_variant_calling"
    description = 'Pipeline for mitochondria Variant Calling'
}

params {
gen_org = 'mouse'
genome_build = 'GRCm38'
mt_contig_name = 'MT'

mt_fasta = '/projects/compsci/omics_share/meta/benchmarking/mt_dna/shifted_ref/GRCm38/Mus_musculus.GRCm38.dna.MT.fa'
mt_shifted_fasta = '/projects/compsci/omics_share/meta/benchmarking/mt_dna/shifted_ref/GRCm38/Mus_musculus.GRCm38.dna.MT.shifted8k.fa'
shift_back_chain = '/projects/compsci/omics_share/meta/benchmarking/mt_dna/shifted_ref/GRCm38/Mus_musculus.GRCm38.dna.MT.shiftback'

mt_fasta_index = '/projects/compsci/omics_share/meta/benchmarking/mt_dna/shifted_ref/GRCm38/bwa_index/Mus_musculus.GRCm38.dna.MT'
mt_shifted_fasta_index = '/projects/compsci/omics_share/meta/benchmarking/mt_dna/shifted_ref/GRCm38/bwa_index/Mus_musculus.GRCm38.dna.MT.shifted8k'

max_allele_count = 4
blacklisted_sites = '/projects/compsci/omics_share/meta/benchmarking/mt_dna/shifted_ref/GRCm38/Mus_musculus.GRCm38.dna.MT.exclusion.bed'

non_control_region_interval_list = '/projects/compsci/omics_share/meta/benchmarking/mt_dna/shifted_ref/GRCm38/non_control_region.chrMT.GRCm38.interval_list'
control_region_shifted_interval_list = '/projects/compsci/omics_share/meta/benchmarking/mt_dna/shifted_ref/GRCm38/control_region_shifted.chrMT.GRCm38.interval_list'

ref_fa = null // not used, but required to avoid undefined parameter warn.
}


if (params.gen_org=='human' || params.genome_build=='GRCh38') {
    params.gen_org = 'human'
    params.genome_build = 'GRCh38'
    params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
}

if (params.genome_build=='GRCm39'){
    params.genome_build = 'GRCm39'
    params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
}

