//====================  Nextflow/Container Config  ==========

manifest {
    name = "mitochondria_variant_calling"
    description = 'Pipeline for mitochondria Variant Calling'
}

params {
    gen_org = gen_org ?: 'mouse'
    genome_build = genome_build ?: 'GRCm38'
    mt_contig_name = 'MT'

    mt_fasta = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.fa'
    mt_genome = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/Mus_musculus.GRCm38.dna.primary_assembly.genome'
    mt_shifted_fasta = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.shifted8k.fa'
    shift_back_chain = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.shiftback'

    mt_fasta_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.MT'
    mt_shifted_fasta_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.MT.shifted8k'

    max_allele_count = 4
    exclusion_sites = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/Mus_musculus.GRCm38.dna.MT.exclusion.bed'

    non_control_region_interval_list = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/non_control_region.chrMT.GRCm38.interval_list'
    control_region_shifted_interval_list = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/control_region_shifted.chrMT.GRCm38.interval_list'

    // Mutserve Settings -- set to tool defaults.
    detection_limit = 0.01    
    mapQ = 20
    baseQ = 20

    // VCF annotation
    gen_ver = "GRCm38.99"
    dbSNP = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz'
    dbSNP_index = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz.tbi'
    snpEff_config = params.reference_cache+'/mouse/GRCm38/genome/indices/snpEff_5_1/snpEff.config'

    ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa' // not used, but set to avoid warning.
}

if (params.gen_org=='human' || params.genome_build=='GRCh38') {
    params.gen_org = 'human'
    params.genome_build = 'GRCh38'
    params.mt_contig_name = 'chrM'
    
    params.mt_fasta = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.fasta'
    params.mt_genome = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.genome'
    params.mt_shifted_fasta = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.shifted8k.fasta'
    params.shift_back_chain = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.shiftback'

    params.mt_fasta_index = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.MT'
    params.mt_shifted_fasta_index = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.MT.shifted8k'

    params.exclusion_sites = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/blacklist_sites.hg38.chrM.bed'

    params.non_control_region_interval_list = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/non_control_region.chrM.interval_list'
    params.control_region_shifted_interval_list = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/control_region_shifted.chrM.interval_list'

    // VCF annotation
    params.gen_ver = "hg38"
    params.dbSNP = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
    params.dbSNP_index = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'
    params.dbNSFP=params.reference_cache+'/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz'
    params.snpEff_config = params.reference_cache+'/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config'
    params.cosmic = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz'
    params.cosmic_index = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi' 

    params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
}

if (params.genome_build=='GRCm39'){
    params.genome_build = 'GRCm39'
    params.mt_contig_name = 'MT'

    params.mt_fasta = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.fa'
    params.mt_genome = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/Mus_musculus.GRCm39.dna.primary_assembly.genome'
    params.mt_shifted_fasta = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.shifted8k.fa'
    params.shift_back_chain = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.shiftback'

    params.mt_fasta_index = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.MT'
    params.mt_shifted_fasta_index = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.MT.shifted8k'

    params.exclusion_sites = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.dna.MT.exclusion.bed'

    params.non_control_region_interval_list = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/non_control_region.chrMT.GRCm39.interval_list'
    params.control_region_shifted_interval_list = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/control_region_shifted.chrMT.GRCm39.interval_list'

    // VCF annotation
    params.gen_ver = 'GRCm39.105'
    params.dbSNP = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz'
    params.dbSNP_index = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz.tbi'
    params.snpEff_config = params.reference_cache+'/mouse/GRCm39/genome/indices/snpEff_5_1d/snpEff.config'

    params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
}

