//====================  Nextflow/Container Config  ==========

manifest {
    name = "mitochondria_variant_calling"
    description = 'Pipeline for mitochondria Variant Calling'
}

params {
    gen_org = params.gen_org ?: 'mouse'
    genome_build = params.genome_build ?: 'GRCm38'
    mt_contig_name = null

    multiqc_config_mt = "${projectDir}/bin/shared/multiqc/mt_variant_calling.yaml"

    mt_fasta = null
    mt_genome = null
    mt_shifted_fasta = null
    shift_back_chain = null

    mt_fasta_index = null
    mt_shifted_fasta_index = null

    max_allele_count = 4
    exclusion_sites = null

    non_control_region_interval_list = null
    control_region_shifted_interval_list = null

    // Mutserve Settings -- set to tool defaults.
    detection_limit = 0.01    
    mapQ = 20
    baseQ = 20

    // VCF annotation
    gen_ver = null
    dbSNP = null
    dbSNP_index = null
    dbNSFP = null
    snpEff_config = null
    cosmic = null
    cosmic_index = null

    ref_fa = null // not used, but set to avoid warning.
    deepvariant = null // not used, but set to avoid warning. 

    reference_profiles = [
        mouse_grcm38: [
            gen_org: 'mouse',
            genome_build: 'GRCm38',
            mt_contig_name: 'MT',
            mt_fasta: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.fa',
            mt_genome: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/Mus_musculus.GRCm38.dna.primary_assembly.genome',
            mt_shifted_fasta: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.shifted8k.fa',
            shift_back_chain: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.shiftback',
            mt_fasta_index: params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.MT',
            mt_shifted_fasta_index: params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.MT.shifted8k',
            exclusion_sites: params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/Mus_musculus.GRCm38.dna.MT.exclusion.bed',
            non_control_region_interval_list: params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/non_control_region.chrMT.GRCm38.interval_list',
            control_region_shifted_interval_list: params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/control_region_shifted.chrMT.GRCm38.interval_list',
            gen_ver: 'GRCm38.99',
            dbSNP: params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz',
            dbSNP_index: params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz.tbi',
            dbNSFP: null,
            snpEff_config: params.reference_cache+'/mouse/GRCm38/genome/indices/snpEff_5_1/snpEff.config',
            cosmic: null,
            cosmic_index: null,
            ref_fa: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
        ],
        mouse_grcm39: [
            gen_org: 'mouse',
            genome_build: 'GRCm39',
            mt_contig_name: 'MT',
            mt_fasta: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.fa',
            mt_genome: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/Mus_musculus.GRCm39.dna.primary_assembly.genome',
            mt_shifted_fasta: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.shifted8k.fa',
            shift_back_chain: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.shiftback',
            mt_fasta_index: params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.MT',
            mt_shifted_fasta_index: params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.MT.shifted8k',
            exclusion_sites: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.dna.MT.exclusion.bed',
            non_control_region_interval_list: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/non_control_region.chrMT.GRCm39.interval_list',
            control_region_shifted_interval_list: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/control_region_shifted.chrMT.GRCm39.interval_list',
            gen_ver: 'GRCm39.105',
            dbSNP: params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz',
            dbSNP_index: params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz.tbi',
            dbNSFP: null,
            snpEff_config: params.reference_cache+'/mouse/GRCm39/genome/indices/snpEff_5_1d/snpEff.config',
            cosmic: null,
            cosmic_index: null,
            ref_fa: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
        ],
        human_grch38: [
            gen_org: 'human',
            genome_build: 'GRCh38',
            mt_contig_name: 'chrM',
            mt_fasta: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.fasta',
            mt_genome: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.genome',
            mt_shifted_fasta: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.shifted8k.fasta',
            shift_back_chain: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.shiftback',
            mt_fasta_index: params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.MT',
            mt_shifted_fasta_index: params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.MT.shifted8k',
            exclusion_sites: params.reference_cache+'/human/GRCh38/genome/annotation/intervals/blacklist_sites.hg38.chrM.bed',
            non_control_region_interval_list: params.reference_cache+'/human/GRCh38/genome/annotation/intervals/non_control_region.chrM.interval_list',
            control_region_shifted_interval_list: params.reference_cache+'/human/GRCh38/genome/annotation/intervals/control_region_shifted.chrM.interval_list',
            gen_ver: 'hg38',
            dbSNP: params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz',
            dbSNP_index: params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi',
            dbNSFP: params.reference_cache+'/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz',
            snpEff_config: params.reference_cache+'/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config',
            cosmic: params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz',
            cosmic_index: params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi',
            ref_fa: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
        ]
    ]

    selected_profile = (params.gen_org == 'human' || params.genome_build == 'GRCh38') ? 'human_grch38' :
        (params.genome_build == 'GRCm39' ? 'mouse_grcm39' : 'mouse_grcm38')

    selected_defaults = params.reference_profiles[params.selected_profile]
    gen_org = params.selected_defaults.gen_org
    genome_build = params.selected_defaults.genome_build
    mt_contig_name = params.selected_defaults.mt_contig_name
    mt_fasta = params.selected_defaults.mt_fasta
    mt_genome = params.selected_defaults.mt_genome
    mt_shifted_fasta = params.selected_defaults.mt_shifted_fasta
    shift_back_chain = params.selected_defaults.shift_back_chain
    mt_fasta_index = params.selected_defaults.mt_fasta_index
    mt_shifted_fasta_index = params.selected_defaults.mt_shifted_fasta_index
    exclusion_sites = params.selected_defaults.exclusion_sites
    non_control_region_interval_list = params.selected_defaults.non_control_region_interval_list
    control_region_shifted_interval_list = params.selected_defaults.control_region_shifted_interval_list
    gen_ver = params.selected_defaults.gen_ver
    dbSNP = params.selected_defaults.dbSNP
    dbSNP_index = params.selected_defaults.dbSNP_index
    dbNSFP = params.selected_defaults.dbNSFP
    snpEff_config = params.selected_defaults.snpEff_config
    cosmic = params.selected_defaults.cosmic
    cosmic_index = params.selected_defaults.cosmic_index
    ref_fa = params.selected_defaults.ref_fa
}

