//====================  Nextflow/Container Config  ==========

manifest {
    name = "qtl_mapping"
    description = 'Pipeline for QTL Mapping'
}

params {
    gen_org = 'mouse' // human
    genome_build = 'GRCm39' // GRCm39
    csv_input = null
    n_perms = 1000
    
    // haplotype reconstruction params set to null in qtl mapping profile
    rerun = null
    correct_ids = null
    remove_markers = null
    primary_chrom_bed = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.dna.primary_assembly.bed'
}
// PARAMS TO BE ADDED AS NEEDED.