//====================  Nextflow/Container Config  ==========

manifest {
    name = "rnaseq"
    description = 'Pipeline for processing of RNASeq samples.'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below
params {

    bam_input = params.bam_input ?: false
    pdx = params.pdx ?: false // if PDX, gen_org == human and xengsort is run to remove mouse reads from the sample(s).

    gen_org = params.bam_input ? null : (params.gen_org ?: 'mouse')
    annotation_source = params.annotation_source ?: 'ensembl'
    genome_build = params.bam_input
        ? null
        : (params.gen_org == 'other'
            ? 'user_to_provide'
            : (params.gen_org == 'human'
                ? 'GRCh38'
                : (params.annotation_source == 'MGI'
                    ? 'GRCm39'
                    : (params.genome_build ?: 'GRCm38'))))

    extension = '.fastq.gz'
    pattern = "*_R{1,2}*"
    sample_folder = null
    read_type = 'PE' // SE
    concat_lanes = false
    download_data = false
    csv_input = null
    merge_rna_counts = false
    skip_read_trimming = false

    umi = params.umi ?: false
    skip_umi_extract = false
    umitools_extract_method = 'regex'
    umitools_bc_pattern = null // https://nf-co.re/rnaseq/3.18.0/docs/usage/#unique-molecular-identifiers-umi "^(?P<umi_1>.{6})(?P<discard_1>.{4}).*"
    umitools_bc_pattern2 = null
    umitools_grouping_method = 'directional'
    umi_separator = ":"

    multiqc_config = "${projectDir}/bin/shared/multiqc/rnaseq_multiqc.yaml"

    // FASTP parameters
    quality_phred = 15 // default
    unqualified_perc = 40 // default
    detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
    // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
    //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.
    trim_poly_g = false
    trim_poly_x = false
    poly_x_min_len = 10

    // RSEM params
    seed_length = '25'
    rsem_aligner = 'star' // 'bowtie2'
    fragment_length_mean = 280
    fragment_length_sd = 50

    // PDX and human specific settings, set here to avoid "WARN: Access to undefined parameter"
    ref_fa = null
    xengsort_host_fasta = null
    xengsort_idx_path = null
    xengsort_idx_name = null
    classifier_table = null
    rsem_ref_prefix_human = null
    rsem_star_prefix_human = null
    rsem_ref_files_human = null
    picard_dict_human = null
    ref_flat_human = null
    ribo_intervals_human = null
    rsem_ref_prefix_mouse = null
    rsem_star_prefix_mouse = null
    rsem_ref_files_mouse = null
    picard_dict_mouse = null
    ref_flat_mouse = null
    ribo_intervals_mouse = null
    rsem_reference_path = null
    rsem_reference_name = null
    ref_gtf = null
    bam_strandedness = null

    reference_defaults = [
        mouse: [
            ensembl: [
                GRCm38: [
                    strandedness_ref: params.reference_cache+'/mouse/GRCm38/transcriptome/indices/ensembl/v102/kallisto/kallisto_index',
                    strandedness_gtf: params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.gtf',
                    rsem_ref_prefix: 'Mus_musculus.GRCm38.dna.primary_assembly',
                    rsem_ref_files: params.reference_cache+'/mouse/GRCm38/transcriptome/indices/ensembl/v102',
                    rsem_star_prefix: 'primary',
                    picard_dict: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.dict',
                    ref_flat: params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr.refFlat.txt',
                    ribo_intervals: params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr.rRNA.interval_list'
                ],
                GRCm39: [
                    strandedness_ref: params.reference_cache+'/mouse/GRCm38/transcriptome/indices/ensembl/v102/kallisto/kallisto_index',
                    strandedness_gtf: params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.gtf',
                    rsem_ref_prefix: 'Mus_musculus.GRCm39.dna.primary_assembly',
                    rsem_ref_files: params.reference_cache+'/mouse/GRCm39/transcriptome/indices/ensembl/v105',
                    rsem_star_prefix: 'primary',
                    picard_dict: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.dict',
                    ref_flat: params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/ensembl/v105/Mus_musculus.GRCm39.105.refFlat.txt',
                    ribo_intervals: params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/ensembl/v105/Mus_musculus.GRCm39.105.rRNA.interval_list'
                ]
            ],
            MGI: [
                GRCm39: [
                    strandedness_ref: params.reference_cache+'/mouse/GRCm39/transcriptome/indices/mgi/v114/kallisto_index/kallisto_index',
                    strandedness_gtf: params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/mgi/v114/MGI.gtf',
                    rsem_ref_prefix: 'Mus_musculus.GRCm39.dna.primary_assembly',
                    rsem_ref_files: params.reference_cache+'/mouse/GRCm39/transcriptome/indices/mgi/v114',
                    rsem_star_prefix: 'primary',
                    picard_dict: params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/mgi/v114/Mus_musculus.GRCm39.dna.primary_assembly.dict',
                    ref_flat: params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/mgi/v114/MGI.refFlat.txt',
                    ribo_intervals: params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/mgi/v114/MGI.rRNA_intervals.list'
                ]
            ]
        ],
        human: [
            ensembl: [
                GRCh38: [
                    strandedness_ref: params.reference_cache+'/human/GRCh38/transcriptome/indices/ensembl/v104/kallisto/kallisto_index',
                    strandedness_gtf: params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.gtf',
                    rsem_ref_prefix: 'Homo_sapiens.GRCh38.dna.primary_assembly',
                    rsem_ref_files: params.reference_cache+'/human/GRCh38/transcriptome/indices/ensembl/v104',
                    rsem_star_prefix: 'primary',
                    picard_dict: params.reference_cache+'/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.primary_assembly.dict',
                    ref_flat: params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr.refFlat.txt',
                    ribo_intervals: params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr.rRNA.interval_list'
                ]
            ]
        ],
        pdx: [
            strandedness_ref: params.reference_cache+'/human/GRCh38/transcriptome/indices/ensembl/v104/kallisto/kallisto_index',
            strandedness_gtf: params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.gtf',
            rsem_ref_prefix: null,
            rsem_ref_files: null,
            rsem_star_prefix: null,
            ref_fa: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta',
            xengsort_host_fasta: params.reference_cache+'/mouse/GRCm39/genome/sequence/imputed/rel_2112_v8/NOD_ShiLtJ.39.fa',
            xengsort_idx_path: params.reference_cache+'/human/GRCh38/supporting_files/xengsort',
            xengsort_idx_name: 'hg38_GRCm39-NOD_ShiLtJ',
            classifier_table: params.reference_cache+'/human/GRCh38/supporting_files/rna_ebv_classifier/EBVlym_classifier_table_48.txt',
            human: [
                rsem_ref_prefix: 'Homo_sapiens.GRCh38.dna.primary_assembly',
                rsem_ref_files: params.reference_cache+'/human/GRCh38/transcriptome/indices/ensembl/v104',
                rsem_star_prefix: 'primary',
                picard_dict: params.reference_cache+'/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.primary_assembly.dict',
                ref_flat: params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr.refFlat.txt',
                ribo_intervals: params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr.rRNA.interval_list'
            ],
            mouse: [
                rsem_ref_prefix: 'Mus_musculus.GRCm38.dna.primary_assembly',
                rsem_ref_files: params.reference_cache+'/mouse/GRCm38/transcriptome/indices/ensembl/v102',
                rsem_star_prefix: 'primary',
                picard_dict: params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.dict',
                ref_flat: params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr.refFlat.txt',
                ribo_intervals: params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr.rRNA.interval_list'
            ]
        ],
        other: [
            strandedness_ref: null,
            strandedness_gtf: null,
            rsem_ref_prefix: null,
            rsem_ref_files: null,
            rsem_star_prefix: null,
            picard_dict: null,
            ref_flat: null,
            ribo_intervals: null,
            ref_fa: null
        ],
        bam_input: [
            strandedness_ref: null,
            strandedness_gtf: null,
            rsem_ref_prefix: null,
            rsem_ref_files: null,
            rsem_star_prefix: null,
            picard_dict: null,
            ref_flat: null,
            ribo_intervals: null,
            ref_fa: null
        ]
    ]

    selected_defaults = params.bam_input
        ? params.reference_defaults.bam_input
        : (params.gen_org == 'other'
            ? params.reference_defaults.other
            : (params.gen_org == 'human' && params.pdx
                ? params.reference_defaults.pdx
                : params.reference_defaults[params.gen_org][params.annotation_source][params.genome_build]))

    strandedness_ref = params.selected_defaults.strandedness_ref
    strandedness_gtf = params.selected_defaults.strandedness_gtf
    strandedness = (params.bam_input || params.gen_org == 'other' || (params.gen_org == 'mouse' && params.annotation_source == 'MGI')) ? null : params.get('strandedness')

    rsem_ref_prefix = params.selected_defaults.rsem_ref_prefix
    rsem_ref_files = params.selected_defaults.rsem_ref_files
    rsem_star_prefix = params.selected_defaults.rsem_star_prefix
    picard_dict = params.selected_defaults.picard_dict
    ref_flat = params.selected_defaults.ref_flat
    ribo_intervals = params.selected_defaults.ribo_intervals

    ref_fa = params.bam_input ? null : (params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.ref_fa : null)
    xengsort_host_fasta = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.xengsort_host_fasta : null
    xengsort_idx_path = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.xengsort_idx_path : null
    xengsort_idx_name = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.xengsort_idx_name : null
    classifier_table = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.classifier_table : null

    rsem_ref_prefix_human = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.human.rsem_ref_prefix : null
    rsem_star_prefix_human = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.human.rsem_star_prefix : null
    rsem_ref_files_human = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.human.rsem_ref_files : null
    picard_dict_human = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.human.picard_dict : null
    ref_flat_human = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.human.ref_flat : null
    ribo_intervals_human = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.human.ribo_intervals : null

    rsem_ref_prefix_mouse = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.mouse.rsem_ref_prefix : null
    rsem_star_prefix_mouse = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.mouse.rsem_star_prefix : null
    rsem_ref_files_mouse = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.mouse.rsem_ref_files : null
    picard_dict_mouse = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.mouse.picard_dict : null
    ref_flat_mouse = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.mouse.ref_flat : null
    ribo_intervals_mouse = params.gen_org == 'human' && params.pdx ? params.reference_defaults.pdx.mouse.ribo_intervals : null
}
 