//====================  Nextflow/Container Config  ==========

manifest {
    name = "rrbs"
    description = 'Pipeline for processing of RRBS samples.'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below
params {
    //Shared params
    gen_org = params.gen_org ?: 'mouse' // human
    genome_build = params.gen_org == 'human' ? 'GRCh38' : (params.genome_build ?: 'GRCm38') // GRCm39
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    sample_folder = null
    read_type = 'PE' // SE
    concat_lanes = false
    download_data = false
    csv_input = null
    
    multiqc_config = "${projectDir}/bin/shared/multiqc/rrbs_multiqc.yaml"

    // Trimming & Bismark Setting
    non_directional = true

    // Trim-Galore settings. 
    trimLength = '30'
    qualThreshold = '30'
    adapOverlap = '1'
    adaptorSeq = 'AGATCGGAAGAGC'

    // Bismark Mapping settings. 
    seedLength = '20'
    seedMismatch = '0'
    MinInsert = '0'
    MaxInsert = '500'
    ref_fa_index = null
    aligner = 'bowtie2'

    // Bismark De-duplication 
    skip_deduplication = true

    // Bismark Methylation extraction settings. 
    cytosine_report = false
    comprehensive = true
    reference_defaults = [
        mouse: [
            GRCm38: [
                ref_fa_index: params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bismark/bowtie2'
            ],
            GRCm39: [
                ref_fa_index: params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bismark/bowtie2'
            ]
        ],
        human: [
            GRCh38: [
                ref_fa_index: params.reference_cache+'/human/GRCh38/genome/indices/gatk/bismark/bowtie2'
            ]
        ]
    ]

    selected_defaults = params.reference_defaults[params.gen_org][params.genome_build]
    ref_fa_index = params.selected_defaults.ref_fa_index
}