//====================  Nextflow/Container Config  ==========

manifest {
    name = "smrnaseq"
    description = 'Pipeline for Small RNA-Seq Samples. Adapted from: https://nf-co.re/smrnaseq, which is available under MIT License'
    version = "0.1.0"
}


// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = gen_org ?: 'mouse' // human 
  read_type = 'PE' // 'SE'
  genome_build = genome_build ?: 'GRCm38' // 'GRCm39' or 'GRCh38'

  // Reference fasta
  ref_fa = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bowtie/genome.fa'
  ref_fa_indices= params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bowtie/'

  bowtie_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bowtie/'
  
  // GTF & BED annotation
  gtf   = params.reference_cache+'/mouse/GRCm38/supporting_files/smrnaseq/gff3/mmu.gff3'

  // FASTP parameters
  skip_fastp = false
  quality_phred = 15 // default
  unqualified_perc = 40 // default
  detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
  // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
  //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.


  fastq2 = null

  // nf-core
  // Trimming options
    clip_r1                     = null
    three_prime_clip_r1         = null
    three_prime_adapter         = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA' // is set to the Illumina TruSeq single index adapter sequence to ensure that the auto-detect functionality of FASTP is disabled.
    trim_fastq                  = true
    fastp_min_length            = 17
    fastp_known_mirna_adapters  = "/projects/omics_share/mouse/GRCm39/supporting_files/smrnaseq/assets/known_adapters.fa"
    adapter_fasta               = "/projects/omics_share/mouse/GRCm39/supporting_files/smrnaseq/assets/known_adapters.fa"
    save_trimmed_fail           = false
    save_merged                 = false
    skip_fastqc                 = false
    skip_multiqc                = false
    skip_mirdeep                = false
    skip_fastp                  = false
    save_reference              = false
    fastp_max_length            = 40

  // MultiQC options
    multiqc_config              = null

  // Global default params, used in configs

  // samtools merge bam filter parameters
  keep_dups = false
  keep_multi_map = false

  tmpdir = "/flashscratch/${USER}"
  extension = null // not used in this workflow
  pattern = null // not used in this workflow
  concat_lanes = false // not used in this workflow
  non_directional = '' // not used in this workflow

  // Mirtrace
  protocol = 'illumina'

  // Mature, Hairpin
  bowtie2_index_trna = params.reference_cache+'/mouse/GRCm38/supporting_files/smrnaseq/contamination/trna/bowtie2/mm10-tRNAs'
  bowtie2_index_cdna = params.reference_cache+'/mouse/GRCm38/supporting_files/smrnaseq/contamination/cdna/bowtie2/filtered_cDNA'
  bowtie2_index_ncrna = params.reference_cache+'/mouse/GRCm38/supporting_files/smrnaseq/contamination/ncrna/bowtie2/filtered_ncRNA'
  bowtie_index_mature = params.reference_cache+'/mouse/GRCm38/supporting_files/smrnaseq/mature/bowtie/mature'
  bowtie_index_hairpin = params.reference_cache+'/mouse/GRCm38/supporting_files/smrnaseq/hairpin/bowtie/hairpin'

  formatted_mature = params.reference_cache+'/mouse/GRCm38/supporting_files/smrnaseq/mature/mature.fa_igenome.fa_idx.fa'
  formatted_hairpin = params.reference_cache+'/mouse/GRCm38/supporting_files/smrnaseq/hairpin/hairpin.fa_igenome.fa_idx.fa'

}


// Defaults for Human
if (params.gen_org=='human'){

  params.genome_build = 'GRCh38'

  // Reference fasta
  params.ref_fa = params.reference_cache+'/human/GRCh38/genome/indices/ensembl/v109/bowtie/genome.fa'
  params.ref_fa_indices = params.reference_cache+'/human/GRCh38/genome/indices/ensembl/v109/bowtie/'

  params.bowtie_index = params.reference_cache+'/human/GRCh38/genome/indices/ensembl/v109/bowtie/' 

  // GTF & BED annotation
  params.gtf = params.reference_cache+'/human/GRCh38/supporting_files/smrnaseq/gff3/hsa.gff3'

  // Mature, Hairpin
  params.bowtie2_index_trna = params.reference_cache+'/human/GRCh38/supporting_files/smrnaseq/contamination/trna/bowtie2/hg38-tRNAs'
  params.bowtie2_index_cdna = params.reference_cache+'/human/GRCh38/supporting_files/smrnaseq/contamination/cdna/bowtie2/filtered_cDNA'
  params.bowtie2_index_ncrna = params.reference_cache+'/human/GRCh38/supporting_files/smrnaseq/contamination/ncrna/bowtie2/filtered_ncRNA'
  params.bowtie_index_mature = params.reference_cache+'/human/GRCh38/supporting_files/smrnaseq/mature/bowtie/mature'
  params.bowtie_index_hairpin = params.reference_cache+'/human/GRCh38/supporting_files/smrnaseq/hairpin/bowtie/hairpin'

  params.formatted_mature = params.reference_cache+'/human/GRCh38/supporting_files/smrnaseq/mature/mature.fa_igenome.fa_idx.fa'
  params.formatted_hairpin = params.reference_cache+'/human/GRCh38/supporting_files/smrnaseq/hairpin/hairpin.fa_igenome.fa_idx.fa'

}


// Defaults for Mouse GRCm39 build
if (params.genome_build=='GRCm39'){

  // Reference fasta
  params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bowtie/genome.fa'
  params.ref_fa_indices = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bowtie/'

  params.bowtie_index  = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bowtie/'

  // GTF & BED annotation
  params.gtf = params.reference_cache+'/mouse/GRCm39/supporting_files/smrnaseq/gff3/mmu.gff3'

  // Mature, Hairpin
  params.bowtie2_index_trna = params.reference_cache+'/mouse/GRCm39/supporting_files/smrnaseq/contamination/trna/bowtie2/mm39-tRNAs'
  params.bowtie2_index_cdna = params.reference_cache+'/mouse/GRCm39/supporting_files/smrnaseq/contamination/cdna/bowtie2/filtered_cDNA'
  params.bowtie2_index_ncrna = params.reference_cache+'/mouse/GRCm39/supporting_files/smrnaseq/contamination/ncrna/bowtie2/filtered_ncRNA'
  params.bowtie_index_mature = params.reference_cache+'/mouse/GRCm39/supporting_files/smrnaseq/mature/bowtie/mature'
  params.bowtie_index_hairpin = params.reference_cache+'/mouse/GRCm39/supporting_files/smrnaseq/hairpin/bowtie/hairpin'

  params.formatted_mature = params.reference_cache+'/mouse/GRCm39/supporting_files/smrnaseq/mature/mature.fa_igenome.fa_idx.fa'
  params.formatted_hairpin = params.reference_cache+'/mouse/GRCm39/supporting_files/smrnaseq/hairpin/hairpin.fa_igenome.fa_idx.fa'

}


if (!params.skip_fastp) {
    process {
        withName: 'FASTP' {
                    ext.args = [ "",
            params.trim_fastq              ? "" : "--disable_adapter_trimming",
            params.clip_r1 > 0             ? "--trim_front1 ${params.clip_r1}" : "", // Remove bp from the 5' end of read 1.
            params.three_prime_clip_r1 > 0 ? "--trim_tail1 ${params.three_prime_clip_r1}" : "", // Remove bp from the 3' end of read 1 AFTER adapter/quality trimming has been performed.
            params.fastp_min_length > 0    ? "-l ${params.fastp_min_length}" : "",
            params.fastp_max_length > 0    ? "--max_len1 ${params.fastp_max_length}" : "",
            params.three_prime_adapter == null ?  '' : "--adapter_sequence ${params.three_prime_adapter}"
        ].join(" ").trim()
    }    
   }
}


