//====================  Nextflow/Container Config  ==========

manifest {
    name = "wgs"
    description = 'Pipeline for Processing Whole Genome Samples'   
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = gen_org ?: 'mouse' // human
  genome_build = genome_build ?: 'GRCm38' // GRCm39
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder = null
  concat_lanes = false
  download_data = false
  csv_input = null
  concat_lanes = false
  deepvariant_model_type = 'WGS'
  run_sv = false
  run_mt_calling = false
  bam_input = false


  // In some use cases, samples are structured by a higher organizational level
  // Merge_ind allows for merging of BAMs to the higher level (e.g., Ind_42 <-- sampleA, sampleB, sampleC).
  merge_inds = false
  publish_bams = false // write out individual level bam and bai files

  multiqc_config = "${projectDir}/bin/shared/multiqc/wgs_multiqc.yaml"
  
  // Reference fasta
  ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  ref_fa_indices = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  chrom_contigs = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.primaryChr.contig_list'
  
  deduplicate_reads = false
  split_fastq = false
  split_fastq_bin_size = 10000000
  coverage_cap = null
  primary_chrom_bed = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/Mus_musculus.GRCm38.dna.primary_assembly.bed'

  // FASTP parameters
  quality_phred = 15 // default 
  unqualified_perc = 40 // default
  detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
  // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
  //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.
  trim_poly_g = false
  trim_poly_x = false
  poly_x_min_len = 10

  // Use Google DeepVariant rather than GATK HaplotypeCaller?
  deepvariant = false

  // GVCF
  run_gvcf = false
  
  // VCF annotation
  gen_ver = "GRCm38.99"
  dbSNP = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz'
  dbSNP_index = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz.tbi'
  snpEff_config = params.reference_cache+'/mouse/GRCm38/genome/indices/snpEff_5_1/snpEff.config'
  
  // BWA parameter
  mismatch_penalty = "8"
  // Variant calling parameters
  ploidy_val = "2"
  call_val = "50.0"

  bwa_min_score = null

  // SV Calling Parameters. Note that SV calling is optional. 
  ref_fa_dict = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.dict'
  min_sv_length = 200
  cnv_distance_limit = 10000
  sv_slop = 500
  sizemargin = 0.8

  // SMOOVE (Lumpy)
  smoove_support = 3
  
  // SMOOVE (Lumpy) and Delly. Also mouse SV annot. 
  exclude_regions = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_gap_chr_sorted.bed'

  // Delly options
  delly_exclusion = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/mouse.mm10.excl.tsv' // https://raw.githubusercontent.com/dellytools/delly/main/excludeTemplates/mouse.mm10.excl.tsv
  delly_mappability = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/mappability/GRCm38.dna.primary_assembly.map.gz' // https://gear-genomics.embl.de/data/delly/
  cnv_window = 10000
  cnv_min_size = 10000

  // Manta & SVABA
  callRegions = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/GRCm38.callregions.bed.gz'

  // SVABA
  combined_reference_set = params.reference_cache+'/mouse/GRCm38/supporting_files/SV_inputs/Mus_musculus.GRCm38.dna.primary_assembly.fa' // SVABA requires reference and bwa index files in same directory. 
  
  // Annotation Files
  cytoband = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/GRCm38_UCSC_cytoBand.txt' // used in delly cnv annotations
  known_del = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed'
  known_ins = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed'
  known_inv = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed'
  ensemblUniqueBed = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ensembl_genes_unique_sorted.final.v102.chr.bed'
  gap = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_gap_chr_sorted.bed'
  

  // MT Variant Calling Params
  mt_contig_name = 'MT'

  mt_fasta = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.fa'
  mt_genome = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/Mus_musculus.GRCm38.dna.primary_assembly.genome'
  mt_shifted_fasta = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.shifted8k.fa'
  shift_back_chain = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/GRCm38.p6/mtdna/Mus_musculus.GRCm38.dna.MT.shiftback'

  mt_fasta_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.MT'
  mt_shifted_fasta_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.MT.shifted8k'

  max_allele_count = 4
  exclusion_sites = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/Mus_musculus.GRCm38.dna.MT.exclusion.bed'

  non_control_region_interval_list = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/non_control_region.chrMT.GRCm38.interval_list'
  control_region_shifted_interval_list = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/control_region_shifted.chrMT.GRCm38.interval_list'

  // Mutserve Settings -- set to tool defaults.
  detection_limit = 0.01    
  mapQ = 20
  baseQ = 20

  dgv = null // human file. set here to avoid param warning.
  thousandG = null // human file. set here to avoid param warning.
  cosmicUniqueBed = null // human file. set here to avoid param warning.
  dgvBedpe = null // human file. set here to avoid param warning.
  thousandGVcf = null // human file. set here to avoid param warning.
  svPon = null // human file. set here to avoid param warning.
  cosmicBedPe = null // human file. set here to avoid param warning.
  gold_std_indels = null // human file. set here to avoid param warning.
  phase1_1000G = null // human file. set here to avoid param warning.
  dbNSFP = null // human file. set here to avoid param warning.
  cosmic = null // human file. set here to avoid param warning.
}

if (params.gen_org=='human'){

  params.genome_build = 'GRCh38'

  // Reference fasta
  params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  params.ref_fa_indices = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta'
  params.chrom_contigs = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.primaryChr.contig_list'
  params.primary_chrom_bed = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/Homo_sapiens_assembly38.primary_chrom.bed'

  // BWA parameter
  params.mismatch_penalty = "8"
  // Variant calling parameters
  params.ploidy_val = "2"
  params.call_val = "50.0"

  // VCF annotation
  params.gold_std_indels = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  params.phase1_1000G = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  params.dbSNP = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
  params.dbSNP_index = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'
  params.dbNSFP=params.reference_cache+'/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz'
  params.cosmic = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz'
  params.cosmic_index = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi' 
  params.gen_ver = "hg38"
  params.snpEff_config = params.reference_cache+'/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config'

  // SV Calling Parameters. Note that SV calling is optional. 
  params.ref_fa_dict = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.dict'

  // SMOOVE (Lumpy) and Delly
  params.exclude_regions = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/GRCh38_ENCODE_Blacklist_V2_chrM_alt_HLA_exclude.bed'

  // Delly options
  params.delly_exclusion = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/human.hg38.excl.tsv' // https://github.com/dellytools/delly/raw/refs/heads/main/excludeTemplates/human.hg38.excl.tsv
  params.delly_mappability = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/mappability/Homo_sapiens.GRCh38.dna.primary_assembly.map.gz' // https://gear-genomics.embl.de/data/delly/
  params.cnv_window = 10000
  params.cnv_min_size = 10000

  // Manta & SVABA
  params.callRegions = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/GRCh38.callregions.bed.gz'

  // SVABA
  params.combined_reference_set = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/combined_ref_set/Homo_sapiens_assembly38.fasta' // SVABA requires reference and bwa index files in same directory. 

  // CNV and SV annotations and filtering files. 
  params.cytoband = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/GRCh38.cytoBand.UCSC.chr.sorted.txt' // used in delly cnv annotations
  params.dgv = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/DGV.GRCh38_hg38_variants_2020-02-25.bed' // used in delly cnv annotations
  params.thousandG = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1KGP.CNV.GRCh38.canvas.merged.bed' // used in delly cnv annotations
  params.cosmicUniqueBed = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/CosmicCompleteCNA_uniqIntervals.bed' // used in delly cnv annotations
  params.ensemblUniqueBed = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/ensembl_genes_unique_sorted.final.v93.chr.sorted.bed' // used in delly cnv annotations and SV annotation.   
  
  params.gap = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/GRCh38.gap.UCSC.annotated.chr.sorted.bed' // used in SV annotation.
  params.dgvBedpe = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/DGV.GRCh38_hg38_variants_2020-02-25.bedpe' // used in SV annotation.
  params.thousandGVcf = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1KGP.pruned_wAFs.PASS_and_MULTIALLELIC_Mosaic.GRCh38.vcf' // used in SV annotation.
  params.svPon = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1000G-SV-PON.survivor-merged.GRCh38.filtered.bedpe' // used in SV annotation.
  params.cosmicBedPe = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/cosmic-sv-GRCh38-v92.bedpe' // used in SV annotation.

  params.known_del = null
  params.known_inv = null
  params.known_ins = null

  // MT Variant Calling Params
  params.mt_contig_name = 'chrM'
    
  params.mt_fasta = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.fasta'
  params.mt_genome = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.genome'
  params.mt_shifted_fasta = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.shifted8k.fasta'
  params.shift_back_chain = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/mtdna/Homo_sapiens_assembly38.MT.shiftback'

  params.mt_fasta_index = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.MT'
  params.mt_shifted_fasta_index = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.MT.shifted8k'

  params.exclusion_sites = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/blacklist_sites.hg38.chrM.bed'

  params.non_control_region_interval_list = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/non_control_region.chrM.interval_list'
  params.control_region_shifted_interval_list = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/control_region_shifted.chrM.interval_list'

}

// Defaults for GRCm39 build
if (params.genome_build=='GRCm39'){

  // Reference fasta
  params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  params.ref_fa_indices = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  params.chrom_contigs = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.primaryChr.contig_list'
  params.primary_chrom_bed = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.dna.primary_assembly.bed'
    
  // VCF annotation
  params.dbSNP = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz'
  params.dbSNP_index = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz.tbi'
  params.gen_ver = 'GRCm39.105'
  params.snpEff_config = params.reference_cache+'/mouse/GRCm39/genome/indices/snpEff_5_1d/snpEff.config'
  params.comment = 'This script will run whole genome sequencing on mouse samples using default GRCm39'

  // SV Calling Parameters. Note that SV calling is optional. 
  params.ref_fa_dict = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/Mus_musculus.GRCm39.dna.primary_assembly.dict'

  // Dellly & SMOOVE (Lumpy). Also mouse SV annot. 
  params.exclude_regions = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges_cleaned.bed' // From: https://dozmorovlab.github.io/excluderanges/

  // Delly
  params.delly_exclusion = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39_gap_delly_exclusion.txt'
  params.delly_mappability = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mappability/GRCm39.p0.map.gz'  
  params.cnv_window = 10000
  params.cnv_min_size = 10000

  // SVABA
  params.combined_reference_set = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/combined_ref_set/Mus_musculus.GRCm39.dna.primary_assembly.fa' // SVABA requires reference and bwa index files in same directory. 
  
  // Manta & SVABA
  params.callRegions = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39.callregions.bed.gz' // manta requirement. 

  // CNV and SV annotations and filtering files. 
  params.cytoband = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/annotations/GRCm38.liftedTo.GRCm39.cytoBand.UCSC.chr.sorted.bed' // used in cnv annotations
  params.known_del = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_DEL_mm39_sorted.bed' // used in cnv/sv annotations
  params.known_ins = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INS_mm39_sorted.bed' // used in cnv/sv annotations
  params.known_inv = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INV_mm39_sorted.bed' // used in cnv/sv annotations
  params.gap = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39_gap.bed'
  params.ensemblUniqueBed = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/annotations/ensembl_genes_unique_sorted.final.v110.chr.sorted.bed' // used in cnv annotations and SV annotation.   

  // MT Variant Calling Params
  params.mt_contig_name = 'MT'

  params.mt_fasta = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.fa'
  params.mt_genome = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/Mus_musculus.GRCm39.dna.primary_assembly.genome'
  params.mt_shifted_fasta = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.shifted8k.fa'
  params.shift_back_chain = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/mtdna/Mus_musculus.GRCm39.dna.MT.shiftback'

  params.mt_fasta_index = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.MT'
  params.mt_shifted_fasta_index = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.MT.shifted8k'

  params.exclusion_sites = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.dna.MT.exclusion.bed'

  params.non_control_region_interval_list = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/non_control_region.chrMT.GRCm39.interval_list'
  params.control_region_shifted_interval_list = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/control_region_shifted.chrMT.GRCm39.interval_list'

}

if (params.gen_org=='other'){
  params.genome_build = 'user_to_provide'
  // Reference fasta
  params.ref_fa = 'user_to_provide_path'
  params.ref_fa_indices = 'user_to_provide_path'
  params.chrom_contigs = 'user_to_provide_path'
  params.primary_chrom_bed = 'user_to_provide_path'
 
  // VCF annotation
  params.dbSNP = null
  params.dbSNP_index = null
  params.gen_ver = null
  params.snpEff_config = null
  params.comment = 'This script will run whole genome sequencing on a custom genome'

  // SV Calling for `other` is not supported due to lack of exclusion regions.

}
