//====================  Nextflow/Container Config  ==========

manifest {
    name = "wgs_long_read"
    description = 'Pipeline for Processing Whole Genome Samples using Long Reads'   
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  data_type = 'pacbio'
  gen_org = 'mouse' // human
  genome_build = 'GRCm38' // GRCm39

  csv_input = null

  deepvariant = true // Workflow is deepvariant exclusively, but this must be 'true' due to logic in the extract_csv function. 
  deepvariant_model_type = 'PACBIO' // If workflow is expanded to ONT, this can be set differently. Otherwise, always PACBIO.

  // In some use cases, samples are structured by a higher organizational level
  // Merge_ind allows for merging of BAMs to the higher level (e.g., Ind_42 <-- sampleA, sampleB, sampleC).
  merge_inds = false

  multiqc_config = "${projectDir}/bin/shared/multiqc/wgs_long_read_multiqc.yaml"
  
  // Reference fasta
  ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  chrom_contigs = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.primaryChr.contig_list'

  // FASTP parameters
  quality_phred = 15 // default 
  unqualified_perc = 40 // default

  // GVCF
  run_gvcf = false
  
  // VCF annotation
  gen_ver = "GRCm38.99"
  dbSNP = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz'
  dbSNP_index = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz.tbi'
  snpEff_config = params.reference_cache+'/mouse/GRCm38/genome/indices/snpEff_5_1/snpEff.config'
  
  // PACBIO Specific
  minimap2_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/minimap2/Mus_musculus.GRCm38.dna.primary_assembly.mmi'
  pbmode = 'CCS' // CCS or CLR
  pbsv_tandem = null
  tandem_repeats = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_trf_chr_sorted.bed'

  
  // SV merging params
  min_sv_length = 200
  sv_slop = 1000
  sizemargin = 0.8

  // Annotation databases
  known_del = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed'
  known_ins = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed'
  known_inv = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed'
  params.gap = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_gap_chr_sorted.bed'
  ensemblUniqueBed = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ensembl_genes_unique_sorted.final.v102.chr.bed'
  exclude_regions = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_gap_chr_sorted.bed'
  
  dgvBedpe = null // human file. set here to avoid param warning.
  thousandGVcf = null // human file. set here to avoid param warning.
  svPon = null // human file. set here to avoid param warning.
  cosmicBedPe = null // human file. set here to avoid param warning.
}

if (params.gen_org=='human'){

  params.genome_build = 'GRCh38'

  // Reference fasta
  params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  params.chrom_contigs = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.primaryChr.contig_list'

  // PACBIO Specific
  params.minimap2_index = params.reference_cache+'/human/GRCh38/genome/indices/gatk/minimap2/Homo_sapiens_assembly38.mmi'
  params.tandem_repeats = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/Homo_sapiens_assembly38.trf.bed'

  // VCF annotation
  params.gold_std_indels = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  params.phase1_1000G = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  params.dbSNP = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
  params.dbSNP_index = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'
  params.dbNSFP=params.reference_cache+'/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz'
  params.cosmic = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz'
  params.cosmic_index = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi' 
  params.gen_ver = "hg38"
  params.snpEff_config = params.reference_cache+'/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config'

  // SV annotation
  params.dgv = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/DGV.GRCh38_hg38_variants_2020-02-25.bed' // used in delly cnv annotations
  params.thousandG = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1KGP.CNV.GRCh38.canvas.merged.bed' // used in delly cnv annotations
  params.cosmicUniqueBed = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/CosmicCompleteCNA_uniqIntervals.bed' // used in delly cnv annotations
  params.ensemblUniqueBed = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/ensembl_genes_unique_sorted.final.v93.chr.sorted.bed' // used in delly cnv annotations and SV annotation.   
  
  params.gap = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/GRCh38.gap.UCSC.annotated.chr.sorted.bed' // used in SV annotation.
  params.dgvBedpe = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/DGV.GRCh38_hg38_variants_2020-02-25.bedpe' // used in SV annotation.
  params.thousandGVcf = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1KGP.pruned_wAFs.PASS_and_MULTIALLELIC_Mosaic.GRCh38.vcf' // used in SV annotation.
  params.svPon = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1000G-SV-PON.survivor-merged.GRCh38.filtered.bedpe' // used in SV annotation.
  params.cosmicBedPe = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/cosmic-sv-GRCh38-v92.bedpe' // used in SV annotation.

  params.known_del = null
  params.known_ins = null
  params.known_inv = null
  params.ensemblUniqueBed = null
  params.exclude_regions = null
  
}

// Defaults for GRCm39 build
if (params.genome_build=='GRCm39'){

  // Reference fasta
  params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  params.chrom_contigs = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.primaryChr.contig_list'

  //  PACBIO Specific
  params.minimap2_index = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/minimap2/Mus_musculus.GRCm39.dna.primary_assembly.mmi'
  params.tandem_repeats = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/ucsc_mm39_trf_chr_sorted.bed'
    
  // VCF annotation
  params.dbSNP = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz'
  params.dbSNP_index = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz.tbi'
  params.gen_ver = 'GRCm39.105'
  params.snpEff_config = params.reference_cache+'/mouse/GRCm39/genome/indices/snpEff_5_1d/snpEff.config'
  params.comment = 'This script will run whole genome sequencing on mouse samples using default GRCm39'
  

  // CNV and SV annotations and filtering files. 
  params.known_del = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_DEL_mm39_sorted.bed' // used in cnv/sv annotations
  params.known_ins = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INS_mm39_sorted.bed' // used in cnv/sv annotations
  params.known_inv = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INV_mm39_sorted.bed' // used in cnv/sv annotations
  params.ensemblUniqueBed = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/annotations/ensembl_genes_unique_sorted.final.v110.chr.sorted.bed' // used in cnv annotations and SV annotation.   
  params.exclude_regions = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges_cleaned.bed' // From: https://dozmorovlab.github.io/excluderanges/
}