//====================  Nextflow/Container Config  ==========

manifest {
    name = "wgs_long_read"
    description = 'Pipeline for Processing Whole Genome Samples using Long Reads'   
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  data_type = 'pacbio'
  gen_org = params.gen_org ?: 'mouse' // human
  genome_build = (params.gen_org == 'human' || params.genome_build == 'GRCh38') ? 'GRCh38' : (params.genome_build ?: 'GRCm38') // GRCm39
  
  csv_input = null

  deepvariant = true // Workflow is deepvariant exclusively, but this must be 'true' due to logic in the extract_csv function. 
  deepvariant_model_type = 'PACBIO' // If workflow is expanded to ONT, this can be set differently. Otherwise, always PACBIO.
  

  // In some use cases, samples are structured by a higher organizational level
  // Merge_ind allows for merging of BAMs to the higher level (e.g., Ind_42 <-- sampleA, sampleB, sampleC).
  merge_inds = false
  publish_bams = true // write out individual level bam and bai files

  multiqc_config = "${projectDir}/bin/shared/multiqc/wgs_long_read_multiqc.yaml"
  
  // Reference fasta
  ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  chrom_contigs = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.primaryChr.contig_list'

  // FASTP parameters
  quality_phred = 15 // default 
  unqualified_perc = 40 // default

  // GVCF
  run_gvcf = false
  
  // VCF annotation
  gen_ver = "GRCm38.99"
  dbSNP = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz'
  dbSNP_index = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz.tbi'
  gold_std_indels = null
  phase1_1000G = null
  dbNSFP = null
  cosmic = null
  cosmic_index = null
  snpEff_config = params.reference_cache+'/mouse/GRCm38/genome/indices/snpEff_5_1/snpEff.config'
  
  // PACBIO Specific
  minimap2_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/minimap2/Mus_musculus.GRCm38.dna.primary_assembly.mmi'
  pbmode = 'CCS' // CCS or CLR
  pbsv_tandem = null
  tandem_repeats = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_trf_chr_sorted.bed'

  // SV merging params
  min_sv_length = 200
  sv_slop = 1000
  sizemargin = 0.8

  // Annotation databases
  known_del = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed'
  known_ins = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed'
  known_inv = params.reference_cache+'/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed'
  gap = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_gap_chr_sorted.bed'
  ensemblUniqueBed = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ensembl_genes_unique_sorted.final.v102.chr.bed'
  exclude_regions = params.reference_cache+'/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_gap_chr_sorted.bed'
  
  dgvBedpe = null // human file. set here to avoid param warning.
  thousandGVcf = null // human file. set here to avoid param warning.
  svPon = null // human file. set here to avoid param warning.
  cosmicBedPe = null // human file. set here to avoid param warning.

  profile_overrides = [
    human: [
      gen_org: 'human',
      genome_build: 'GRCh38',
      ref_fa: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta',
      chrom_contigs: params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.primaryChr.contig_list',
      minimap2_index: params.reference_cache+'/human/GRCh38/genome/indices/gatk/minimap2/Homo_sapiens_assembly38.mmi',
      tandem_repeats: params.reference_cache+'/human/GRCh38/genome/annotation/intervals/Homo_sapiens_assembly38.trf.bed',
      gold_std_indels: params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz',
      phase1_1000G: params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz',
      dbSNP: params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz',
      dbSNP_index: params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi',
      dbNSFP: params.reference_cache+'/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz',
      cosmic: params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz',
      cosmic_index: params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi',
      gen_ver: 'hg38',
      snpEff_config: params.reference_cache+'/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config',
      ensemblUniqueBed: params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/ensembl_genes_unique_sorted.final.v93.chr.sorted.bed',
      gap: params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/GRCh38.gap.UCSC.annotated.chr.sorted.bed',
      dgvBedpe: params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/DGV.GRCh38_hg38_variants_2020-02-25.bedpe',
      thousandGVcf: params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1KGP.pruned_wAFs.PASS_and_MULTIALLELIC_Mosaic.GRCh38.vcf',
      svPon: params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1000G-SV-PON.survivor-merged.GRCh38.filtered.bedpe',
      cosmicBedPe: params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/cosmic-sv-GRCh38-v92.bedpe',
      exclude_regions: params.reference_cache+'/human/GRCh38/genome/annotation/intervals/GRCh38_ENCODE_Blacklist_V2_chrM_alt_HLA_exclude.bed',
      known_del: null,
      known_ins: null,
      known_inv: null
    ],
    mouse_grcm39: [
      genome_build: 'GRCm39',
      ref_fa: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa',
      chrom_contigs: params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.primaryChr.contig_list',
      minimap2_index: params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/minimap2/Mus_musculus.GRCm39.dna.primary_assembly.mmi',
      tandem_repeats: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/ucsc_mm39_trf_chr_sorted.bed',
      dbSNP: params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz',
      dbSNP_index: params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz.tbi',
      gen_ver: 'GRCm39.105',
      snpEff_config: params.reference_cache+'/mouse/GRCm39/genome/indices/snpEff_5_1d/snpEff.config',
      comment: 'This script will run whole genome sequencing on mouse samples using default GRCm39',
      gap: params.reference_cache+'/projects/omics_share/mouse/GRCm39/genome/annotation/intervals/GRCm39_gap.bed',
      known_del: params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_DEL_mm39_sorted.bed',
      known_ins: params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INS_mm39_sorted.bed',
      known_inv: params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INV_mm39_sorted.bed',
      ensemblUniqueBed: params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/annotations/ensembl_genes_unique_sorted.final.v110.chr.sorted.bed',
      exclude_regions: params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges_cleaned.bed'
    ]
  ]

  selected_profile = (params.gen_org == 'human' || params.genome_build == 'GRCh38') ? 'human' :
    (params.genome_build == 'GRCm39' ? 'mouse_grcm39' : 'mouse_grcm38')
  selected_overrides = params.profile_overrides[params.selected_profile] ?: [:]

  gen_org = params.selected_overrides.gen_org ?: params.gen_org
  genome_build = params.selected_overrides.genome_build ?: params.genome_build
  ref_fa = params.selected_overrides.ref_fa ?: params.ref_fa
  chrom_contigs = params.selected_overrides.chrom_contigs ?: params.chrom_contigs
  minimap2_index = params.selected_overrides.minimap2_index ?: params.minimap2_index
  tandem_repeats = params.selected_overrides.tandem_repeats ?: params.tandem_repeats
  gold_std_indels = params.selected_overrides.gold_std_indels ?: params.gold_std_indels
  phase1_1000G = params.selected_overrides.phase1_1000G ?: params.phase1_1000G
  dbSNP = params.selected_overrides.dbSNP ?: params.dbSNP
  dbSNP_index = params.selected_overrides.dbSNP_index ?: params.dbSNP_index
  dbNSFP = params.selected_overrides.dbNSFP ?: params.dbNSFP
  cosmic = params.selected_overrides.cosmic ?: params.cosmic
  cosmic_index = params.selected_overrides.cosmic_index ?: params.cosmic_index
  gen_ver = params.selected_overrides.gen_ver ?: params.gen_ver
  snpEff_config = params.selected_overrides.snpEff_config ?: params.snpEff_config
  ensemblUniqueBed = params.selected_overrides.ensemblUniqueBed ?: params.ensemblUniqueBed
  gap = params.selected_overrides.gap ?: params.gap
  dgvBedpe = params.selected_overrides.dgvBedpe ?: params.dgvBedpe
  thousandGVcf = params.selected_overrides.thousandGVcf ?: params.thousandGVcf
  svPon = params.selected_overrides.svPon ?: params.svPon
  cosmicBedPe = params.selected_overrides.cosmicBedPe ?: params.cosmicBedPe
  exclude_regions = params.selected_overrides.exclude_regions ?: params.exclude_regions
  known_del = params.selected_overrides.containsKey('known_del') ? params.selected_overrides.known_del : params.known_del
  known_ins = params.selected_overrides.containsKey('known_ins') ? params.selected_overrides.known_ins : params.known_ins
  known_inv = params.selected_overrides.containsKey('known_inv') ? params.selected_overrides.known_inv : params.known_inv
  comment = params.selected_overrides.comment ?: params.comment

  read_type = null // not used in this workflow, but present here to avoid WARN
}
